<div class="gamesListContainer container px-0 mt-5">

  <h6 class="mb-4 mt-5">{{searchTermInput}}</h6>
  <div class="card-columns">
    <a class="card" *ngFor="let game of gamesList" [routerLink]="['/game', game.id, game.slug]">
      <div class="card-date">
        <fa-icon [icon]="faCalendar" class="mr-1"></fa-icon>
        {{game.released}}
      </div>
      <img  *ngIf="game.background_image" [src]="game.background_image" class="img-fluid">
      <div class="card-name">
        {{ game.name }}
        <!-- <span *ngIf="game.clip">YES</span> -->
        <!-- - {{ game.metacritic }} -->
      </div>

      <div class="card-platforms align-items-center">
        <img class="img-fluid pt-2" *ngFor="let platform of game.parent_platforms" src="assets/imgs/platforms/{{platform.platform.id}}.svg">
        <div class="card-metacritic pt-2" *ngIf="game.metacritic">
          <div class="sizeMC" [style.width]="game.metacritic+'%'">
            <fa-icon [icon]="fasStar"></fa-icon>
            <fa-icon [icon]="fasStar"></fa-icon>
            <fa-icon [icon]="fasStar"></fa-icon>
            <fa-icon [icon]="fasStar"></fa-icon>
            <fa-icon [icon]="fasStar"></fa-icon>
          </div>
        </div>
      </div>
      <div class="card-genres">
        <span class="genreItem" *ngFor="let genre of game.genres">{{genre.name}}</span>
      </div>
    </a>
    <div class="text" style="color: white;">{{pos}} ----- {{max}}</div>
  </div>
</div>
