<nav class="navbar navbar-expand-md navbar-light">
  <div class="container px-0">
    <a class="navbar-brand" href="#"><img src="assets/imgs/Video-Game-Controller-Icon.png" class="logo img-fluid" alt=""></a>
    <!-- <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="text d-none d-md-block">wikiGames</div>
    <div class="collapse navbar-collapse float-right d-none" id="navbarTogglerDemo02">
      <!-- <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Next <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Today</a>
        </li>
      </ul> -->
    </div>
    <form class="my-2 my-md-0 d-inline-block searchContainer">
      <input #searchTermInput class="form-control search" type="search" placeholder="Search" onkeydown="console.log(this.value)" (keyup)="searchGame(searchTermInput.value)">
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
  </div>
</nav>
