@import 'https://www.w3schools.com/w3css/4/w3.css';
@import 'base';
@import 'mixins';

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800|Open+Sans:300,400,600,800');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700');


*{
    border: 0;
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
	font-family: 'Quicksand', sans-serif;
	background: $bgColor;
	color: $textColor;
	font-size: 14px!important;
  font-weight: 300;


	background: rgba(64,78,103,0.85);
	background: -moz-linear-gradient(center, ellipse cover, rgba(64,78,103,1) 0%, rgba(64,78,103,1) 85%);
	background: -webkit-gradient(linear, center center, 0px, center center, 85%, color-stop(0%, rgba(64,78,103,1)), color-stop(85%, rgba(64,78,103,1)));
	background: -webkit-linear-gradient(center, ellipse cover, rgba(64,78,103,1) 0%, rgba(64,78,103,1) 85%);
	background: -o-linear-gradient(center, ellipse cover, rgba(64,78,103,1) 0%, rgba(64,78,103,1) 85%);
	background: -ms-linear-gradient(center, ellipse cover, rgba(64,78,103,1) 0%, rgba(64,78,103,1) 85%);
	background: linear-gradient(ellipse at center, rgba(64,78,103,1) 0%, rgba(64,78,103,1) 85%);
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262a40', endColorstr='#404e67', GradientType=1 );
}

